/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2016, 11:23:13 AM
    Author     : Halim
*/

.form{
    
}
.form .form-title{
    line-height: 300%;
}
.form em{
    color: red;
    margin-top: 1px;
    position: absolute;
    margin-left: 2px;
    font-size: 1.1em;
}

.form .help-control{
    cursor: help;
    margin-left: 15px;
    margin-top: -1px;
    font-size: 1.2em;
    position: absolute;
}
.popover-content {
    font-size: 0.9em;
    color: #23527C;
}

ul.errors{
    list-style-type: none;
    padding-left: 25px;
}

.form-error{
   color: #A94442;
   font-weight: normal;
   font-size: 0.9em;
}